body {
  font-family: Arial, sans-serif;
}

/* Botões */
.btn {
  border-radius: 10px;
  background-color: purple;
}

/* Cartões */
.card {
  width: 100%;
}

/* Ícones */
i {
  font-size: 30px;
  color: purple;
  margin-bottom: 10px;
}

/* Perfil */
.perfil img {
  width: 100%;
  max-width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}

.colorido {
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

/* Habilidades */
.habilidades {
  background-color: purple;
  color: white;
  padding: 50px 20px;
}

.habilidades .card {
  color: black;
}

/* Rodapé */
footer {
  background-color: plum;
  color: white;
}
